SUBSYSTEM!="input", GOTO="qubes_input_proxy_end"

# skip platform devices present in HVM guests
ENV{ID_BUS}=="i8042", GOTO="qubes_input_proxy_end"
ENV{ID_PATH}=="acpi-*", GOTO="qubes_input_proxy_end"
ENV{ID_PATH}=="platform-*", GOTO="qubes_input_proxy_end"

KERNEL=="event*", ACTION=="add", RUN+="/usr/bin/qubes-input-trigger --event %k --action add"
KERNEL=="event*", ACTION=="remove", RUN+="/usr/bin/qubes-input-trigger --event %k --action remove"

LABEL="qubes_input_proxy_end"
