[Unit]
Name=Qubes input proxy sender (mouse)
After=qubes-qrexec-agent.service

[Service]
ExecStart=/usr/bin/qrexec-client-vm dom0 qubes.InputMouse /usr/bin/qubes-input-proxy-sender /dev/input/%i
