[Unit]
Description=Qubes input proxy sender (keyboard)
After=qubes-qrexec-agent.service

[Service]
Environment=TARGET_DOMAIN=dom0
EnvironmentFile=-/etc/qubes/input-proxy-target
EnvironmentFile=-%t/qubes-input-proxy-env/%i
ExecStartPre=/usr/lib/qubes/input-proxy-arg /dev/input/%i %t/qubes-input-proxy-env/%i
ExecStart=/usr/bin/qubes-input-sender qubes.InputKeyboard${QREXEC_ARG} /dev/input/%i "$TARGET_DOMAIN"
ExecStopPost=/bin/rm -f %t/qubes-input-proxy-env/%i
PrivateTmp=yes
