[Unit]
Description=Qubes input proxy sender (keyboard)
After=qubes-qrexec-agent.service

[Service]
Environment=TARGET_DOMAIN=dom0
EnvironmentFile=-/etc/qubes/input-proxy-target
ExecStart=/usr/bin/qubes-input-sender qubes.InputKeyboard /dev/input/%i "$TARGET_DOMAIN"
